body {
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 20px;
}

blockquote {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-size: 18pt;
  color: #27a595;
  padding: 20px;
}
